.header {
    display: flex;
    justify-content: center;
    background: url(../img/image1.png);
    max-width: 1500px;
    width: 100%;
    margin: 0 auto;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: first baseline;
}

.header-texto h1 {
    font-size: 2.125rem;
    color: #144a74;
    font-weight: bold;
    position: absolute;
    top: 40px;
    left: 40px;
}

.header-texto p {
    font-size: 1rem;
    color: #a9c0d1;
    font-weight: bold;
    position: absolute;
    top: 80px;
    left: 110px;
}

.menu-button {
    font-size: 1.5em;
    background: none;
    border: none;
    cursor: pointer;
    color: #0054a6;
    position: absolute;
    top: 40px;
    right: 85px;
}

/* Estilos do menu */
.menu {
    list-style: none;
    position: absolute;
    top: 70px;
    right: 20px;
    background-color: #0054a6;
    border-radius: 5px;
    display: none;
    flex-direction: column;
    padding: 10px 0;
    width: 150px;
    z-index: 1000;
}

.menu li {
    text-align: center;
    padding: 10px 0;
}

.menu li a {
    text-decoration: none;
    color: white;
    font-size: 1em;
    transition: background 0.3s;
}

.menu li a:hover {
    background-color: #003974;
    display: block;
}