* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #333;
}

.hero {
    text-align: center;
    background: #ebecff;
    padding: 40px 20px;
}

.header-logo {
    width: 494px 369px;
    margin-bottom: 40px;
    margin-top: 40px;
}

.hero-content h2 {
    color: #144a74;
    font-size: 2em;
    margin-bottom: 10px;
}

.hero-content p {
    color: #616df2;
    font-size: 1em;
}

/* About Section */
.about {
    background-color: #001b4f;
    color: #fff;
    text-align: center;
    padding: 40px 20px;
}

.about h2 {
    font-size: 1.8em;
    margin-bottom: 15px;
    color: #a9c0d1;
}

.about p {
    font-size: 1em;
    line-height: 1.6;
    color: #c6caff;
}

@media (max-width: 800px) {
    .header-logo {
        display: flex;
        width: 150px;
    }
    .header-texto h1 {
        font-size: 0.8rem;
        color: #144a74;
        font-weight: bold;
        position: absolute;
        top: 20px;
        left: 20px; 
    }
    .header-texto p {
        font-size: 0.4rem;
        color: #a9c0d1;
        font-weight: bold;
        position: absolute;
        top: 40px;
        left: 45px;
    }
    .menu-button {
        top: 20px;
        right: 40px;
    }
}